template(name="mainLayout")
	nav(role="navigation").navbar.navbar-default
		.navbar-header
			button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href='{{pathFor "root"}}').navbar-brand Tutorial Blog
		.collapse.navbar-collapse.navbar-ex1-collapse
			ul.nav.navbar-nav
				li: a(href="{{pathFor 'root'}}") Home
				li: a(href="{{pathFor 'newPost'}}") Add new post

			ul.nav.navbar-nav.navbar-right
				li: a(href="#") 
					+loginButtons
	.container
		.row
			.col-lg-2
			.col-lg-8
				+yield
			.col-lg-2
	.footer
		p.text-muted Blog
